<!--Copyright (c) 2015 Eric Vallee <eric_vallee2003@yahoo.ca>
MIT License: https://raw.githubusercontent.com/Magnitus-/ExpressUserLbJquery/master/License.txt-->
<form>
    <p>VerifyEmail!!!</p>
    <% if (CsrfToken) { -%>
        <input type="hidden" value = "<%= CsrfToken %>"/>
    <% } -%>
</form>
